@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oxygen:wght@400;700&family=Poppins:wght@400;600;700&display=swap");
body {
	margin: 0;
	font-family: "Lato", sans-serif;
	background-color: rgb(247, 215, 35);
}

.wrapper {
	width: 90%;
	height: 1000px;
	margin: 0 auto;
}

.header {
	width: 100%;
	height: 100px;
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
}

.logo img {
	width: 120px;
}

.navigation {
}

.navigation ul {
	margin: 0;
	padding: 0;
}

.navigation ul li {
	display: inline-block;
	margin-bottom: 20px;
	margin-right: 15px;
	font-size: 35px;
}

.navigation ul li a {
	text-decoration: none;
	color: rgb(28, 28, 24);
}
.navigation ul :hover {
	background-color: rgb(228, 166, 33);

	border-radius: 10px;
	border-width: 20px;
}

.Bart {
	display: flex;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.Bart-text {
	flex: 1;
	padding-right: 50px;
	padding-bottom: 50px;
}

.Pict {
	flex: 1;
}

.Bart-text h1 {
	font-size: 70px;
	color: rgb(28, 26, 26);
}
.Bart-text h3 {
	font-size: 30px;
	color: rgb(220, 145, 25);
}

.Pict img {
	width: 100%;
	border: 1px solid blue;
}
@media (max-width: 768px) {
	.hobby-list {
		flex-direction: column;
		align-items: center;
	}
}
